@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    J. Luke Mewborne<br />
    252-916-7279
</address>

<address>
    <strong>Support:</strong>mewborne.j@northeastern.edu<br />
</address>